Féléves_feladat/XMLSchemaJPTJY2.xsd


<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="nba" type="nbaType">
  </xs:element>

  <xs:complexType name="idotartamType">
    <xs:sequence>
      <xs:element type="xs:date" name="kezdet"/>
      <xs:element type="xs:date" name="veg"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="szezonType">
    <xs:sequence>
      <xs:element type="xs:int" name="nevezettcsapatok_szama"/>
      <xs:element type="xs:string" name="teljes_szezon"/>
      <xs:element type="idotartamType" name="idotartam"/>
    </xs:sequence>
    <xs:attribute ref="sz_id" use="required"/>
  </xs:complexType>

  <xs:complexType name="csapatType">
    <xs:sequence>
      <xs:element type="xs:string" name="nev"/>
      <xs:element type="xs:string" name="arena"/>
      <xs:element type="xs:int" name="bajnoki_cimek"/>
    </xs:sequence>
    <xs:attribute ref="cs_id" use="required"/>
  </xs:complexType>

  <xs:complexType name="edzoType">
    <xs:sequence>
      <xs:element type="xs:string" name="nev"/>
      <xs:element type="xs:string" name="csapat"/>
      <xs:element type="xs:int" name="aktiv_szezon"/>
    </xs:sequence>
    <xs:attribute ref="e_id" use="required"/>
    <xs:attribute ref="cs_e" use="required"/>
  </xs:complexType>

  <xs:complexType name="stabtagType">
    <xs:sequence>
      <xs:element type="xs:string" name="nev"/>
      <xs:element type="xs:string" name="csapat"/>
      <xs:element type="xs:string" name="beosztas"/>
    </xs:sequence>
    <xs:attribute ref="s_id" use="required"/>
    <xs:attribute ref="cs_s" use="required"/>
  </xs:complexType>

  <xs:complexType name="jatekosType">
    <xs:sequence>
      <xs:element type="xs:string" name="nev"/>
      <xs:element type="xs:string" name="csapat"/>
      <xs:element type="xs:byte" name="kor"/>
      <xs:element type="xs:string" name="poizicio" maxOccurs="unbounded" minOccurs="1"/>
    </xs:sequence>
    <xs:attribute ref="j_id" use="required"/>
    <xs:attribute ref="cs_j" use="required"/>
  </xs:complexType>

  <xs:complexType name="nevezett_csapatType">
    <xs:sequence>
      <xs:element type="xs:byte" name="szezon_szama"/>
      <xs:element type="xs:string" name="csapat_neve"/>
    </xs:sequence>
    <xs:attribute ref="sz_a_id" use="required"/>
    <xs:attribute ref="sz_n_id" use="required"/>
  </xs:complexType>

  <xs:complexType name="nbaType">
    <xs:choice maxOccurs="unbounded" minOccurs="1">
      <xs:element type="szezonType" name="szezon" maxOccurs="unbounded" minOccurs="3">
      </xs:element>

      <xs:element type="csapatType" name="csapat" maxOccurs="unbounded" minOccurs="3">
      </xs:element>

      <xs:element type="edzoType" name="edzo" maxOccurs="unbounded" minOccurs="3">
      </xs:element>

      <xs:element type="stabtagType" name="stabtag" maxOccurs="unbounded" minOccurs="3">
      </xs:element>

      <xs:element type="jatekosType" name="jatekos" maxOccurs="unbounded" minOccurs="3">
      </xs:element>

      <xs:element type="nevezett_csapatType" name="nevezett_csapat" maxOccurs="unbounded" minOccurs="3">
      </xs:element>

    </xs:choice>
  </xs:complexType>

  <!-- 
    Attribútomok definiálása
   -->
  <xs:attribute type="xs:int" name="sz_id" />

  <xs:attribute type="xs:int" name="cs_id" />

  <xs:attribute type="xs:int" name="e_id" />
  <xs:attribute type="xs:int" name="cs_e" />

   <xs:attribute type="xs:int" name="s_id" />
   <xs:attribute type="xs:int" name="cs_s" />

   <xs:attribute type="xs:int" name="j_id" />
   <xs:attribute type="xs:int" name="cs_j" />

   <xs:attribute type="xs:int" name="sz_a_id" />
   <xs:attribute type="xs:int" name="sz_n_id" />

   <xs:element name="keys">

    <!-- 
        Elsodleges kulcsok
       -->
    <xs:key name="Szezon_id">
      <xs:selector xpath="szezon"></xs:selector>
      <xs:field xpath="@sz_id"></xs:field>
    </xs:key>

    <xs:key name="Csapat_id">
      <xs:selector xpath="csapat"></xs:selector>
      <xs:field xpath="@cs_id"></xs:field>
    </xs:key>

    <!-- 
        Idegen kulcsok
    -->
    <xs:keyref refer="Csapat_id" name="csapat_stabtag">
      <xs:selector xpath="stabtag"></xs:selector>
      <xs:field xpath="@cs_s"></xs:field>
    </xs:keyref>

    <xs:keyref refer="Csapat_id" name="csapat_jatekos">
      <xs:selector xpath="jatekos"></xs:selector>
      <xs:field xpath="@cs_j"></xs:field>
    </xs:keyref>

    <xs:unique name="edzo_csapat">
        <xs:selector xpath= "edzo"></xs:selector>
        <xs:field xpath="cs_e"></xs:field>
    </xs:unique>

    <xs:keyref refer="Csapat_id" name="csapat_szezon">
      <xs:selector xpath="nevezett_csapat"></xs:selector>
      <xs:field xpath="@ksz_n_id"></xs:field>
    </xs:keyref>

    <xs:keyref refer="Szezon_id" name="szezon_csapat">
      <xs:selector xpath="nevezett_csapat"></xs:selector>
      <xs:field xpath="@sz_a_id"></xs:field>
    </xs:keyref>

  </xs:element>

</xs:schema>